<div class="main-div"> 
  <form [formGroup]="form" (submit)="send()">
    <mat-card>
      <mat-card-content >
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput id="correo" formControlName="correo">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Estilo Musical</mat-label>
              <mat-select id="estilo" formControlName="estilo">
                <mat-option value="rock">Rock</mat-option>
                <mat-option value="pop">Pop</mat-option>
                <mat-option value="jazz">Jazz</mat-option>
                <mat-option value="clásica">Clásica</mat-option>
                <mat-option value="etc">Etc</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="example-button-row"> <button mat-raised-button color="accent" [disabled]="!form.valid">Enviar</button>
            </div>
           
      </mat-card-content>
  </mat-card>

  </form>
</div>

