  <div class="main-div">
    <mat-card>  
        <mat-card-content > 
            <div class="example-button-row">
            <div class="example-label">Encuesta Musical</div>
            <button mat-raised-button color="primary" routerLink="formulario">Formulario</button>
            <button mat-raised-button color="accent" routerLink="resultado">resultado</button>
            </div>
       </mat-card-content>
      </mat-card>

  </div>