  <div class="main-div">
    <mat-card>
      <mat-card-content>
        <mat-label>Lista de Registros </mat-label>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <!-- Name Column -->
          <ng-container matColumnDef="estilo">
            <th mat-header-cell *matHeaderCellDef> estilo </th>
            <td mat-cell *matCellDef="let element"> {{element.estilo}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
       </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>